@use "./root";

$opacity-div-color: rgba(255, 255, 255, 0.171);
$simple-border: 1px solid black;

body {
  background-color: rgb(197, 53, 53);
}

header {
  background-color: $opacity-div-color;
  color: rgb(236, 236, 236);
  text-shadow: 2px 2px black;
  border: $simple-border;
}

.show-content {
  background-color: $opacity-div-color;
  border: $simple-border;
}
